.table-header,
.table-row {
    /* display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dee2e6; */
}

.table-header {
    /* background-color: #2f3e46;
    color: white;
    font-weight: bold; */
}

.bg-custom-blue {
    background-color: #2f3e46;
}

.table-row {
    /* background-color: white; */
}

.table-cell {
    /* padding: 5px 10px;
    flex: 1;
    display: flex;
    align-items: center; */
}

.table-cell.name {
    /* flex: 2; */
}

.table-cell.name img {
    /* width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; */
}

/* .table-body {
    font-size: small;
} */

.action-icons i {
    margin-right: 10px;
    cursor: pointer;
}

.face {
    /* object-fit: cover; */
}

.department-color {
    background-color: #e9fea5;
}

.light-green-background {
    background-color: #82a70c;
}

.light-green-font {
    color: #82a70c;
}

.white-text {
    color: white;
}

.hover-btn-effect:hover {
    background-color: green;
    font-weight: 700;
    color: white;
    border-width: 5px;
}

.department-cell {
    flex-wrap: wrap;
    flex-grow: 2;
    margin: 5px 2px;
}

/* .depart-width{
    width: 30%;
} */

#search-box {
    flex: 1;
    background: transparent;
    font-weight: 14px;
    outline: none;
    padding: 5px 20px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    background-color: white;
    min-width: 20vw;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.cursor-pointer {
    cursor: pointer;
}